#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonContainer {
  margin-top: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 50px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.modalContent {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #f1356d !important;
  cursor: pointer;
  margin-right: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: red;
  background-color: transparent;
}

.instructionsButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.playAgainButton {
  position: absolute;
  top: 10px;
  right: 150px;
}
